{% extends 'base.html' %}

{% block main %}
<form action={{url_for('submit')}}>
    {{ccform.csrf_token}}
    <div class="section">
        {{ccform.name.label }}
        {{ ccform.name }}
    </div>
    <div class="section">
        {{ccform.email.label }}
        {{ ccform.email }}
    </div>
    <div class="section">
        {{ccform.subject.label }}
        {{ ccform.subject }}
    </div>
    <div class="section">
        {{ccform.text.label }}
        {{ ccform.text }}
    </div>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}